
.project_card {
    display: flex;
    text-decoration: none;
    margin-top: 6vh;
}

.project_image {
    width: 450px;
    height: 280px;
    border-radius: 5px;
}

.project_text {
    margin: 1vh 0 0 3vw;
}

.project_title {
    padding: 1vh 0;
}

.project_description {
    font-size: 1rem;
}

.projects_icons {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.projects_icons p{
    margin-right: 10px;
}

.project_github{
    margin-top: 6vh;
}


@media (max-width: 760px){
    .project_image {
        width: 80vw;
        height: 47vw;
    }

    .project_card {
        flex-direction: column;
        margin-top: 4vh;
    }

    .project_text {
        margin: 2vw 0 0 0;
    }

    .project_github{
        margin: -50px 0 0 90%;
    }

}